*{
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-color:rgb(208, 240, 194);
    text-align: center;
}

#textoesquerda{
    text-align: left;
}

.index {font: 40px sans-serif; }
.localemultim {font: 20px sans-serif; }
.multim {font: 20px sans-serif; }
.info {font: 30px sans-serif; }
.quizz {font: 35px sans-serif; }

[src="images/basileia.jpg"]{
    width: 300px;
    height: 200px;
}

nav a{
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    box-sizing: border-box;
}

nav > a:link{
    color: black;
}

nav > a:visited{
    color: black;
}

nav > a:hover{
    background-color: rgb(203, 193, 240);
    color: white;
}

nav > a:active{
    background-color: rgba(203, 193, 240, 0.7);
    color: white;
}

nav > a.active{
    background-color: rgb(240, 204, 193);
    color: white;
}

nav > a.active::before{
    content: "\02B50";
}

nav > a:hover::after{
    content: "\01F448";
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.aside1{
    float: right;
    width: 50%;
    height: auto;
}

.aside2{
    background-color: cornflowerblue;
    text-align: left;
    float: left;
    width: 50%;
    height: auto;
    font-size: 1vw;
    animation-name: muda-cor;
    animation-duration: 4s;
}

footer{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    width: 100%;
    font-size:1vw;
}
img{
    max-width:100%;
    height:auto;
}

.table-info{
    margin: auto;
    background: #000;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow-x:auto;
}

.table-info th,
.table-info td {
    padding: 3%;
}

iframe{
    max-width:100%;
    max-height: 100%;
}

.apear,
.new-menu{
    font-size: 0vw;
}

@keyframes muda-cor {
    from {background-color: yellowgreen;}
    to {background-color: cornflowerblue;}
}

@media screen and (max-width: 1000px) {
    nav a {
        float: left;
        display: block;
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    
    svg{
        max-width: 100%;
        height: auto;
    }
    .svgsubmenu{
        width:0px;
        height:0px;
    }

    .styled-table th,
    .styled-table td,
    .table-info th,
    .table-info td {
        padding: 0px 0px;
    }

    .vanish{
        font-size: 0vw;
    }
    
    .apear {
        text-align: left;
        font: 20px sans-serif;
    }

    .apear a,
    .new-menu a{
        color: black;
        text-decoration: none;
    }

    .apear a::before{
        content: "\1F7E2";
    }

    .new-menu{
        text-align: center;
        background-color: cornflowerblue;
        font: 20px sans-serif;
    }

    .aside1,
    .aside2{
        width: 100%;
        height: auto;
    }
}